{% extends 'webinterface/base.html' %}
{% block title %}CLI{% endblock %}
{% block css %}
    <style>
        #terminal {
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            margin: 0;
            z-index: 100;
            padding: 20px;
            font-family: 'Ubuntu Mono', monospace;
            background-color: black;
            color: #64dd17;
            font-size: 20px;
            font-weight: bold;
        }

        #terminal #prefix {
            height: 100%;
        }

        #terminal #cmd {
            font-size: 20px;
            font-weight: bold;
            border: none;
            margin: 0;
            width: 70%;
            box-shadow: none;
        }
    </style>
{% endblock %}
{% load static %}
{% block body %}
    <script src="{% static 'webinterface/cli/yash.js' %}"></script>
    <script src="{% static 'webinterface/cli/multikeycallbackmanager.js' %}"></script>
    <div id="terminal">
        <div id="log"></div>
        <span id="prefix">$: </span><input id="cmd" autofocus>
    </div>
    <script>
        /**
         * when book is selected book is set to that book's name
         * no book selected => book is ''
         * */
        var Context = {
            _book: '',
            getPrefix: function () {
                return '$[/schoolbag/' + this._book + ']: '
            },
            _setBook: function (book) {
                if (book === undefined) {
                    this._book = '';
                    yaSH.setPrefix(this.getPrefix());
                } else {
                    this._book = book;
                    yaSH.setPrefix(this.getPrefix());
                }
            },
        };

        // colors
        yaSH.Config.color.book = 'blue';
        yaSH.Config.color.page = 'green';
        yaSH.setPrefix(Context.getPrefix());

        // about
        yaSH.addCmd({
            keywords: ["about", "whatisthis"],
            desc: "brief description about school bag",
            exec: function (tokens) {
                yaSH.printPre('School Bag is a place where you keep all your knowledge', 'gold');
            }
        });
        // cd
        yaSH.addCmd({
            keywords: ["cd"],
            desc: "select or deselect a book. Usage cd {book name} or cd ..",
            exec: function (tokens) {
                if (tokens.length < 2) {
                    yaSH.printErr('usage: cd {book name} or cd ..');
                    return;
                }
                var book = tokens.splice(1).join(' ');
                if (book === '..') {
                    Context._setBook();
                } else {
                    $.ajax({
                        url: "{% url 'restapi:book_exists' %}",
                        method: 'GET',
                        data: {
                            book_name: book
                        },
                        success: function (response) {
                            var jsonedResponse = JSON.parse(response);
                            if (jsonedResponse.status === 0) {
                                Context._setBook(book);
                            } else if (jsonedResponse.status === -1) {
                                yaSH.printErr(jsonedResponse.message, 2000);
                            }
                        },
                        error: function (response) {
                            yaSH.printErr('Server Error', 2000);
                        }
                    });
                }
            }
        });
        // ls
        yaSH.addCmd({
            keywords: ["ls"],
            desc: "list all in current working place",
            exec: function (tokens) {
                $.ajax({
                    url: "{% url 'restapi:ls' %}",
                    method: 'GET',
                    data: {
                        book_name: Context._book
                    },
                    success: function (response) {
                        var jsonedResponse = JSON.parse(response);
                        if (jsonedResponse.status === 0) {
                            yaSH.print('------');
                            yaSH.print('@book', yaSH.Config.color.book);
                            yaSH.print('------');
                            yaSH.print('@page', yaSH.Config.color.page);
                            yaSH.print('------');
                            yaSH.println('');
                            var books = jsonedResponse.body.books;
                            var pages = jsonedResponse.body.pages;
                            for (var i = 0; i < books.length; ++i)
                                yaSH.println(books[i], yaSH.Config.color.book);
                            for (i = 0; i < pages.length; ++i)
                                yaSH.println(pages[i], yaSH.Config.color.page);
                        } else if (jsonedResponse.status === -1) {
                            yaSH.printErr(jsonedResponse.message, 2000);
                        }
                    },
                    error: function (response) {
                        yaSH.printErr('Server Error', 2000);
                    }
                });
            }
        });
        // pwd
        yaSH.addCmd({
            keywords: ["pwd"],
            desc: "prints current working place",
            exec: function (tokens) {
                if (Context._book === '') {
                    yaSH.println('/schoolbag/', 'lightblue');
                } else {
                    yaSH.println('/schoolbag/' + Context._book, 'lightblue');
                }
            }
        });
        // mkb <book name>
        yaSH.addCmd({
            keywords: ["mkb"],
            desc: "creates new a book. usage mkb {book name}",
            exec: function (tokens) {
                if (tokens.length < 2) {
                    yaSH.printErr('usage: mkb {book name}');
                    return;
                }
                if (Context._book !== '') {
                    yaSH.printErr('cannot create book in another book');
                    yaSH.println('you may want to create a book in schoolbag');
                    return;
                }
                var book = tokens.splice(1).join(' ');
                $.ajax({
                    url: "{% url 'restapi:book_create' %}",
                    method: 'POST',
                    data: {
                        book_name: book
                    },
                    success: function (response) {
                        var jsonedResponse = JSON.parse(response);
                        if (jsonedResponse.status === 0) {
                        } else if (jsonedResponse.status === -1) {
                            yaSH.printErr(jsonedResponse.message);
                        }
                    },
                    error: function (response) {
                        yaSH.printErr('Server Error');
                    },
                    beforeSend: function (xhr, settings) {
                        if (!(/^(GET|HEAD|OPTIONS|TRACE)$/.test(settings.type)) && !this.crossDomain) {
                            xhr.setRequestHeader("X-CSRFToken", Cookies.get('csrftoken'));
                        }
                    }
                });
            }
        });
        // mkp <page name>
        yaSH.addCmd({
            keywords: ["mkp"],
            desc: "creates new a page. usage mkp {page name}",
            exec: function (tokens) {
                if (tokens.length < 2) {
                    yaSH.printErr('usage: mkp {page name}');
                    return;
                }
                var page = tokens.splice(1).join(' ');
                $.ajax({
                    url: "{% url 'restapi:page_create' %}",
                    method: 'POST',
                    data: {
                        book_name: Context._book,
                        page_name: page
                    },
                    success: function (response) {
                        var jsonedResponse = JSON.parse(response);
                        if (jsonedResponse.status === 0) {
                        } else if (jsonedResponse.status === -1) {
                            yaSH.printErr(jsonedResponse.message);
                        }
                    },
                    error: function (response) {
                        yaSH.printErr('Server Error');
                    },
                    beforeSend: function (xhr, settings) {
                        if (!(/^(GET|HEAD|OPTIONS|TRACE)$/.test(settings.type)) && !this.crossDomain) {
                            xhr.setRequestHeader("X-CSRFToken", Cookies.get('csrftoken'));
                        }
                    }
                });
            }
        });
        // rmb <book name>
        yaSH.addCmd({
            keywords: ["rmb"],
            desc: "deletes specified book. usage rmb {book name}",
            exec: function (tokens) {
                if (tokens.length < 2) {
                    yaSH.printErr('usage: rmb {book name}');
                    return;
                }
                var book = tokens.splice(1).join(' ');
                $.ajax({
                    url: "{% url 'restapi:book_delete' %}",
                    method: 'POST',
                    data: {
                        book_name: book
                    },
                    success: function (response) {
                        var jsonedResponse = JSON.parse(response);
                        if (jsonedResponse.status === 0) {
                        } else if (jsonedResponse.status === -1) {
                            yaSH.printErr(jsonedResponse.message);
                        }
                    },
                    error: function (response) {
                        yaSH.printErr('Server Error');
                    },
                    beforeSend: function (xhr, settings) {
                        if (!(/^(GET|HEAD|OPTIONS|TRACE)$/.test(settings.type)) && !this.crossDomain) {
                            xhr.setRequestHeader("X-CSRFToken", Cookies.get('csrftoken'));
                        }
                    }
                });
            }
        });
        // rmp <page name>
        yaSH.addCmd({
            keywords: ["rmp"],
            desc: "deletes specified page in current book or schoolbag. usage rmp {page name}",
            exec: function (tokens) {
                if (tokens.length < 2) {
                    yaSH.printErr('usage: rmp {page name}');
                    return;
                }
                var page = tokens.splice(1).join(' ');
                $.ajax({
                    url: "{% url 'restapi:page_delete' %}",
                    method: 'POST',
                    data: {
                        book_name: Context._book,
                        page_name: page
                    },
                    success: function (response) {
                        var jsonedResponse = JSON.parse(response);
                        if (jsonedResponse.status === 0) {
                        } else if (jsonedResponse.status === -1) {
                            yaSH.printErr(jsonedResponse.message);
                        }
                    },
                    error: function (response) {
                        yaSH.printErr('Server Error');
                    },
                    beforeSend: function (xhr, settings) {
                        if (!(/^(GET|HEAD|OPTIONS|TRACE)$/.test(settings.type)) && !this.crossDomain) {
                            xhr.setRequestHeader("X-CSRFToken", Cookies.get('csrftoken'));
                        }
                    }
                });
            }
        });
        // cat <page name>
        yaSH.addCmd({
            keywords: ["cat"],
            desc: "opens page in current book or schoolbag in read mode. usage cat {page name}",
            exec: function (tokens) {
                if (tokens.length < 2) {
                    yaSH.printErr('cat {page name}');
                    return;
                }
                var page = tokens.splice(1).join(' ');

            }
        });
        // nano <page name>
        yaSH.addCmd({
            keywords: ["nano"],
            desc: "opens page in current book or schoolbag in edit mode. usage nano {page name}",
            exec: function (tokens) {
                if (tokens.length < 2) {
                    yaSH.printErr('nano {nano name}');
                    return;
                }
                var page = tokens.splice(1).join(' ');
            }
        });

        // mvb
        // mvc
        $(document).ready(function () {
            var tree = [
                {
                    code: 17,
                    action: [
                        {
                            code: 72,
                            // Ctrl + H => help
                            action: function (e) {
                                e.preventDefault();
                                yaSH.evaluate('help');
                            }
                        },
                        {
                            code: 76,
                            // Ctrl + L => clear
                            action: function (e) {
                                e.preventDefault();
                                yaSH.evaluate('clear');
                            }
                        }
                    ]
                }
            ];
            MultiKeyCallBackManager.bind(tree);
            MultiKeyCallBackManager.init();

            yaSH.bind('cmd', 'log', 'terminal', 'prefix');
            yaSH.initShell();
        });
    </script>
{% endblock %}