{% extends 'webinterface/base.html' %}
{% block title %}Goals at a Glance{% endblock %}
{% load static %}
{% block extra_headers %}
    {# Vis JS #}
    <script src="{% static 'webinterface/visjs/vis.min.js' %}"></script>
    <link type="text/css" rel="stylesheet" href="{% static 'webinterface/visjs/vis.min.css' %}"/>
    <link type="text/css" rel="stylesheet" href="{% static 'webinterface/visjs/vis-network.min.css' %}"/>
    {# React & babel #}
    <script src="{% static 'webinterface/reactjs/react.js' %}"></script>
    <script src="{% static 'webinterface/reactjs/react-dom.js' %}"></script>
    <script src="{% static 'webinterface/reactjs/babel.js' %}"></script>
    {# Misc #}
    <script src="{% static 'webinterface/cookiesjs/cookies.js' %}"></script>
    <script src="{% static 'webinterface/momentjs/moment.js' %}"></script>
    <script src="{% static 'webinterface/escapeerrandsjs/utils.jsx' %}"></script>
    <script src="{% static 'webinterface/escapeerrandsjs/time-formatter.jsx' %}"></script>
    <script src="{% static 'webinterface/escapeerrandsjs/goal-create-view.jsx' %}" type="text/babel"></script>
    <script src="{% static 'webinterface/escapeerrandsjs/goal-search-view.jsx' %}" type="text/babel"></script>
    <script src="{% static 'webinterface/escapeerrandsjs/goal-detail-view.jsx' %}" type="text/babel"></script>
    <script src="{% static 'webinterface/escapeerrandsjs/goal-canvas-controller.jsx' %}" type="text/babel"></script>
    <script src="{% static 'webinterface/escapeerrandsjs/goal-glance-view.jsx' %}" type="text/babel"></script>
{% endblock %}
{% block css %}
    <style>
        .goal-search-input {
            font-size: x-large !important;
            color: black !important;
            outline: none !important;
            margin-bottom: 0 !important;
            box-shadow: none !important;
            border-bottom: 1px solid black !important;
            width: 80% !important;
            padding-left: 5% !important;
            padding-right: 15% !important;
        }

        .goal-search-all-inclusive-checkbox {
            position: absolute;
            right: 0;
            padding: 10px;
        }

        .goal-search-app {
            position: fixed;
            top: 0;
            left: 0;
            width: 33%;
            z-index: 999;
            margin: 20px;
            background-color: white;
            border: 2px solid black;
            border-bottom-width: 1px;
            font-family: monospace;
            font-size: large;
            font-weight: bold;
        }

        .goal-search-result {
            padding: 0 !important;
        }

        .goal-search-result .row {
            margin: 0 !important;
        }

        .goal-search-result .data {
            padding-top: 20px;
            padding-bottom: 20px;
        }

        .goal-search-result:hover {
            background: rgba(240, 240, 240, 1);
        }

        .goal-search-family-subset {
            border-bottom: 2px solid black;
            margin: 0;
        }

        .goal-search-result-set {
            margin: 0 !important;
            border: 0;
        }

        .pointer:hover {
            cursor: pointer;
        }

        .goal-search-result-set-container {
            height: 90vh;
            overflow-y: auto;
        }

        #goal-canvas-wrapper {
            height: 100vh;
        }

        .goal-canvas-clear-btn {
            position: fixed;
            top: 20px;
            right: 20px;
        }

        .goal-detail-view {
            position: fixed;
            width: 25%;
            background-color: white;
            border: 2px solid black;
            padding: 20px;
            margin: 20px;
            z-index: 1000;
            font-size: large;
            font-weight: bold;
            top: 0;
            right: 0;
        }

        .goal-detail-view-description {
            border: none;
            border-bottom: 1px solid black;
            height: 200px;
            color: black;
            font-size: large;
        }

        .goal-detail-view-description:focus {
            border: 1px solid black;
            outline: none;
        }

        .goal-detail-view-deadline {
            outline: none !important;
            box-shadow: none !important;
            border-bottom: 1px solid black !important;
            color: black;
            font-size: large;
        }

        .goal-detail-view-hide-btn {
            padding: 0;
            position: absolute;
            top: 5px;
            right: 10px;
        }

        .goal-detail-view-update-btn {
            padding: 0;
        }

        .goal-detail-view-deselect-btn {
            padding: 0;
        }

        .goal-detail-view-delete-btn {
            position: absolute;
            right: 20px;
            padding: 0;
        }

        .create-goal-view-toggle-btn {
            position: fixed;
            top: 80px;
            right: 20px;
        }

        .create-goal-view {
            position: fixed;
            width: 25%;
            background-color: white;
            border: 2px solid black;
            padding: 20px;
            margin: 20px;
            z-index: 1000;
            font-size: large !important;
            font-weight: bold !important;
            bottom: 0;
            right: 0;
        }

        .create-goal-view-description {
            color: black !important;
            font-size: large !important;
            border: none !important;
            border-bottom: 1px solid black !important;
            height: 200px !important;
        }

        .create-goal-view-description:focus {
            border: 1px solid black !important;
            outline: none !important;
        }

        .create-goal-view-deadline {
            color: black !important;
            font-size: large !important;
            outline: none !important;
            box-shadow: none !important;
            border-bottom: 1px solid black !important;
        }

        .create-goal-view-hide-btn {
            padding: 0;
            position: absolute;
            top: 5px;
            right: 10px;
        }

        .create-goal-view-submit-btn {
            padding: 0;
        }

    </style>
{% endblock %}
{% block body %}
    <script type="text/babel">
        ReactDOM.render(<GoalGlanceView
            readFamilyUrl='{% url 'webinterface:goal_read_family' 1729 %}'
            addRelationUrl='{% url 'webinterface:goal_add_relation' %}'
            removeRelationUrl="{% url 'webinterface:goal_remove_relation' %}"
            createUrl="{% url 'webinterface:goal_create' %}"
            updateUrl="{% url 'webinterface:goal_update' %}"
            toggleIsAchievedUrl="{% url 'webinterface:goal_toggle_is_achieved' 1729 %}"
            deleteIfSingleUrl="{% url 'webinterface:goal_delete_if_single' %}"
            readRegexUrl="{% url 'webinterface:goal_read_regex' %}"
        />, document.getElementById('app'));
    </script>
    <div class="container-fluid">
        <div id="app"></div>
    </div>
{% endblock %}
