.create-goal-view-toggle-btn {
    position: fixed;
    top: 80px;
    right: 20px;
}

.create-goal-view {
    position: fixed;
    width: 25%;
    background-color: white;
    border: 2px solid black;
    padding: 20px;
    margin: 20px;
    z-index: 1000;
    font-size: large !important;
    font-weight: bold !important;
    bottom: 0;
    right: 0;
}

.create-goal-view-description {
    color: black !important;
    font-size: large !important;
    border: none !important;
    border-bottom: 1px solid black !important;
    height: 200px !important;
}

.create-goal-view-description:focus {
    border: 1px solid black !important;
    outline: none !important;
}

.create-goal-view-deadline {
    color: black !important;
    font-size: large !important;
    outline: none !important;
    box-shadow: none !important;
    border-bottom: 1px solid black !important;
}

.create-goal-view-hide-btn {
    padding: 0;
    position: absolute;
    top: 5px;
    right: 10px;
}

.create-goal-view-submit-btn {
    padding: 0;
}
