{% extends 'interface/base.html' %}
{% load static %}
{% block extra_headers %}
    {# JQuery #}
    <script src="{% static 'interface/materialize/materialize.min.js' %}"></script>
    {# React & babel JS #}
    <script src="{% static 'interface/reactjs/react.js' %}"></script>
    <script src="{% static 'interface/reactjs/react-dom.js' %}"></script>
    <script src="{% static 'interface/reactjs/babel.js' %}"></script>

{% endblock %}
{% block title %}\Errands{% endblock %}
{% block body %}
    <script type="text/babel">
        let LoginLogoutView = React.createClass({
            getInitialState: function () {
                return {
                    isLoggedIn: '{{ isSessionActive }}' === 'True',
                }
            },
            login: function (password) {
                $.post(this.props.loginUrl, {password: password})
                    .done((r) => {
                        let json = JSON.parse(r);
                        if (json.status === -1) {
                            toastr.error(json.error);
                        } else {
                            this.setState((prevState) => {
                                return {isLoggedIn: !prevState.isLoggedIn}
                            });
                        }
                    })
                    .fail(() => {
                        toastr.error('Server Error');
                    });
            },
            logout: function () {
                $.post(this.props.logoutUrl)
                    .done((r) => {
                        let json = JSON.parse(r);
                        if (json.status === -1) {
                            toastr.error(json.error);
                        } else {
                            this.setState((prevState) => {
                                return {isLoggedIn: !prevState.isLoggedIn}
                            });
                        }
                    })
                    .fail(() => {
                        toastr.error('Server Error');
                    });
            },
            render: function () {
                let ret = '';
                if (!this.state.isLoggedIn) {
                    ret = <div>
                        <span>Not logged in! Login for total access</span>
                        <button className="btn btn-flat" onClick={() => {
                            this.login(this.refs.passwordField.value)
                        }}>Login
                        </button>
                        <label>
                            <input ref="passwordField" type="password"/>
                        </label>
                    </div>;
                } else {
                    ret = <div>
                        <span>Logged In!</span>
                        <button className="btn btn-flat" onClick={() => {
                            this.logout()
                        }}>Logout
                        </button>
                    </div>;
                }
                return ret;
            }
        });

        ReactDOM.render(<LoginLogoutView
                loginUrl='{% url 'interface:login' %}'
                logoutUrl='{% url 'interface:logout' %}'
            />,
            document.getElementById('app'));
    </script>
    <div class="row" style="position: relative;top: 25vh;">
        <div class="col l4 m4 s4"></div>
        <div class="col l4 m4 s4">
            <div class="card-content center">
                <h1>Escape</h1>
                <div class="flow-text grey-text">(Your)</div>
                <h1>Errands</h1>
            </div>
        </div>
        <div class="col l4 m4 s4">
            <div id="app"></div>
            <ul>
                <li class="center"><a href="{% url 'interface:goal_glance' %}">Have a glance on your goals</a></li>
            </ul>
        </div>
    </div>
{% endblock %}