.goal-search-input {
    font-size: x-large !important;
    color: black !important;
    outline: none !important;
    margin-bottom: 0 !important;
    box-shadow: none !important;
    border-bottom: 1px solid black !important;
    width: 80% !important;
    padding-left: 5% !important;
    padding-right: 15% !important;
}

.goal-search-all-inclusive-checkbox {
    position: absolute;
    right: 0;
    padding: 10px;
}

.goal-search-app {
    position: fixed;
    top: 0;
    left: 0;
    width: 33%;
    z-index: 999;
    margin: 20px;
    background-color: white;
    border: 2px solid black;
    border-bottom-width: 1px;
    font-family: monospace;
    font-size: large;
    font-weight: bold;
}

.goal-search-result {
    padding: 0 !important;
}

.goal-search-result .row {
    margin: 0 !important;
}

.goal-search-result .data {
    padding-top: 20px;
    padding-bottom: 20px;
}

.goal-search-result:hover {
    background: rgba(240, 240, 240, 1);
}

.goal-search-family-subset {
    border-bottom: 2px solid black;
    margin: 0;
}

.goal-search-result-set {
    margin: 0 !important;
    border: 0;
}

.pointer:hover {
    cursor: pointer;
}

.goal-search-result-set-container {
    height: 90vh;
    overflow-y: auto;
}
