.goal-detail-view {
    position: fixed;
    width: 25%;
    background-color: white;
    border: 2px solid black;
    padding: 20px;
    margin: 20px;
    z-index: 1000;
    font-size: large;
    font-weight: bold;
    top: 0;
    right: 0;
}

.goal-detail-view-description {
    border: none;
    border-bottom: 1px solid black;
    height: 200px;
    color: black;
    font-size: large;
}

.goal-detail-view-description:focus {
    border: 1px solid black;
    outline: none;
}

.goal-detail-view-deadline {
    outline: none !important;
    box-shadow: none !important;
    border-bottom: 1px solid black !important;
    color: black;
    font-size: large;
}

.goal-detail-view-hide-btn {
    padding: 0;
    position: absolute;
    top: 5px;
    right: 10px;
}
